<div class="experience stars-full-blur" id="Experience">
    <h2>Experience</h2>
    <div class="experience__controller  stars-blur">
        <h5>Programming Languages:</h5>
        <div class="experience__controller__item" skill="Java">
            <h6>Java</h6>
        </div>
        <div class="experience__controller__row-breaker"></div>
        <h5>Technologies:</h5>
        <div class="experience__controller__item" skill="Flutter">
            <h6>Flutter</h6>
        </div>
        <div class="experience__controller__row-breaker"></div>
        <h5>Other:</h5>
        <div class="experience__controller__item" skill="English">
            <h6>English</h6>
        </div>
        <div class="experience__controller__row-breaker"></div>
        <span>* dashed line means that skill is used universally</span>
        <br>
        <br>
        <br>
    </div>
    <div class="experience__clear-button"><h5>Clear Selection</h5></div>
    <div class="experience-container">
        <% for (let expList of list){ %>
            <div class="experience__container__list">
                <h3 class=" stars-blur" id="<%= expList.title %>"><%= expList.title %></h3>
                <div class="experience__container__list__boxes">
                    <% for (let exp of expList.exps){ %>
                        <div class="experience__container__list__boxes__box">
                            <div class="experience__container__list__boxes__box__media">
                                <div class="experience__container__list__boxes__box__media__line-top"></div>
                                <% if(exp.imgLink) { %>
                                    <img src="<%= exp.imgLink %>"
                                    <% if(exp.imgDark) { %>
                                         class="dark-image"
                                            <% } %>
                                         alt="hehe">
                                <% } %>
                                <div class="experience__container__list__boxes__box__media__line-bottom"></div>
                            </div>
                            <div class="experience__container__list__boxes__box__description">
                                <h4>
                                    <%= exp.title %>
                                    <% if(exp.flair.auditing) { %>
                                        <div class="experience__container__list__boxes__box__flair experience__container__list__boxes__box__flair--auditing">
                                            <p>Auditing</p>
                                        </div>
                                    <% } %>
                                </h4>
                                <h5>
                                    <%= exp.subTitle %>
                                </h5>
                                <p>
                                    <%= exp.description %>
                                </p>
                                <div class="experience__container__list__boxes__box__tags">
                                    <% for (let tag of exp.tags){ %>
                                        <div class="experience__controller__item" skill="<%= tag %>">
                                            <h6>
                                                <%= tag %>
                                            </h6>
                                        </div>
                                    <% } %>
                                </div>
                                <% if(exp.learnMoreLink) { %>
                                    <div class="experience__container__list__boxes__box__learn-more"
                                         link="<% exp.learnMoreLink %>">
                                        <h5>Learn More</h5>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="experience__container__list__dots">
                    <div class="experience__container__list__dots__dot"></div>
                    <div class="experience__container__list__dots__dot"></div>
                    <div class="experience__container__list__dots__dot"></div>
                </div>
            </div>
        <% } %>
    </div>
</div>
